1
.if {
   position: relative;
   padding-bottom: 56.25%;
   overflow: hidden;
}

.if iframe

 {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.responsive-slider-parallax {
  max-width: 100%;
  position: relative;
  padding-top: 80px;
  overflow: hidden;
  margin-bottom: -1px;
}
.responsive-slider-parallax .wrapper {
  position: relative;
  height: 100%;
}
.responsive-slider-parallax .slides-container {
  position: relative;
  overflow: hidden;
  background-image: url(../img/background-paralax.jpg);
  background-size: cover;
  background-position: 0 0;
  cursor: move;
}
.responsive-slider-parallax .slides-container.drag {
  cursor: move;
}
.responsive-slider-parallax .slides-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  font-size: 0;
}
.responsive-slider-parallax .slides-container ul li {
  display: inline-block;
  width: 100%;
}
.responsive-slider-parallax .slides-container ul li .slide-body {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 380px;
  font-size: 14px;
}
.responsive-slider-parallax .slides-container ul li .slide-body img {
  max-width: 100%;
}
.responsive-slider-parallax .slides-container ul li .slide-body .container {
  height: 100%;
}
.responsive-slider-parallax .slides-container ul li .slide-body .caption {
  position: absolute;
  color: #fff;
}
.responsive-slider-parallax .slides-container ul li .slide-body .caption.header {
  top: 27%;
  width: 100%;
}
.responsive-slider-parallax .slides-container ul li .slide-body .caption.header h2 {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  display: inline-block;
  font-size: 100px;
  font-weight: 200;
  text-shadow: 2px 2px 0 #000000;
  border-radius: 6px;
  line-height: 1.3em;
  margin: 0 0 2px 0;
}
.responsive-slider-parallax .slides-container ul li .slide-body .caption.header h2 i {
  font-size: 35px;
}
@media (min-width: 768px) and (max-width: 979px) {
  .responsive-slider-parallax .slides-container ul li .slide-body .caption.header h2 {
    font-size: 50px;
  }
  .responsive-slider-parallax .slides-container ul li .slide-body .caption.header h2 i {
    font-size: 20px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .responsive-slider-parallax .slides-container ul li .slide-body .caption.header h2 {
    font-size: 30px;
  }
  .responsive-slider-parallax .slides-container ul li .slide-body .caption.header h2 i {
    font-size: 20px;
  }
}
@media (max-width: 480px) {
  .responsive-slider-parallax .slides-container ul li .slide-body .caption.header h2 {
    font-size: 20px;
  }
  .responsive-slider-parallax .slides-container ul li .slide-body .caption.header h2 i {
    font-size: 14px;
  }
}
.responsive-slider-parallax .slides-container ul li .slide-body .caption .sub {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 22px;
  color: #000000;
  text-shadow: none;
  padding: 0;
  margin-bottom: 0;
}
.responsive-slider-parallax .slides-container ul li .slide-body .caption .sub span {
  background: rgba(255, 255, 255, 0.75);
  padding: 0 5px;
  border-radius: 3px;
}
@media (min-width: 768px) and (max-width: 979px) {
  .responsive-slider-parallax .slides-container ul li .slide-body .caption .sub {
    font-size: 18px;
    line-height: 24px;
    bottom: 0px;
    right: -10px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .responsive-slider-parallax .slides-container ul li .slide-body .caption .sub {
    font-size: 16px;
    line-height: 22px;
    bottom: 0px;
    right: -10px;
  }
}
@media (max-width: 480px) {
  .responsive-slider-parallax .slides-container ul li .slide-body .caption .sub {
    font-size: 10px;
    line-height: 15px;
    bottom: 0px;
    right: 0;
  }
}
@media (min-width: 1200px) {
  .responsive-slider-parallax .slides-container ul li .slide-body {
    height: 480px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .responsive-slider-parallax .slides-container ul li .slide-body {
    height: 300px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .responsive-slider-parallax .slides-container ul li .slide-body {
    height: 220px;
  }
}
@media (max-width: 480px) {
  .responsive-slider-parallax .slides-container ul li .slide-body {
    height: 150px;
  }
}
.responsive-slider-parallax .slider-control {
  position: absolute;
  font-size: 40px;
  color: #000;
  top: 50%;
  background-color: #fff;
  padding: 10px;
  opacity: 40;
  filter: alpha(opacity=4000);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.responsive-slider-parallax .slider-control.left {
  left: -32px;
  padding-left: 7px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  opacity: 0;
}
.responsive-slider-parallax .slider-control.left:hover {
  text-decoration: none;
  opacity: 100;
  filter: alpha(opacity=10000);
}
.responsive-slider-parallax .slider-control.right {
  right: -32px;
  padding-right: 7px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  opacity: 0;
}
.responsive-slider-parallax .slider-control.right:hover {
  text-decoration: none;
  opacity: 100;
  filter: alpha(opacity=10000);
}
.responsive-slider-parallax:hover .slider-control.left {
  left: 0;
  opacity: 0.75;
}
.responsive-slider-parallax:hover .slider-control.right {
  right: 0;
  opacity: 0.75;
}
.responsive-slider-parallax .pages-wrapper {
  height: 10px;
}
.responsive-slider-parallax .pages-wrapper .pages {
  display: table;
  position: absolute;
  left: 0;
  list-style: none;
  padding: 0;
  width: 100%;
  margin-bottom: 0;
}
.responsive-slider-parallax .pages-wrapper .pages li {
  display: table-cell;
}
.responsive-slider-parallax .pages-wrapper .pages li a {
  display: block;
  color: transparent;
  font-size: 0;
  height: 10px;
  border-top: 0;
  -webkit-transition: background-color 0.7s;
  transition: background-color 0.7s;
  cursor: pointer;
}
.responsive-slider-parallax .pages-wrapper .pages li a.active {
  background-color: #3498db;
}
.responsive-slider-parallax .pages-wrapper .pages li a:hover {
  background-color: #217dbb;
}
[data-animate] {
  opacity: 0;
  filter: alpha(opacity=0);
}
.responsive-calendar {
  padding: 20px;
  border-radius: 4px;
}
.responsive-calendar .controls {
  text-align: center;
}
.responsive-calendar .controls:before,
.responsive-calendar .controls:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.responsive-calendar .controls:after {
  clear: both;
}
.responsive-calendar .controls a {
  cursor: pointer;
}
.responsive-calendar .controls h4 {
  display: inline;
}
.responsive-calendar .day-headers,
.responsive-calendar .days {
  font-size: 0;
}
.responsive-calendar .day-headers {
  margin-top: 20px;
}
.responsive-calendar .day {
  display: inline-block;
  position: relative;
  font-size: 14px;
  width: 14.28571429%;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.responsive-calendar .day a {
  color: inherit;
  border-radius: 4px;
  display: block;
  cursor: pointer;
  padding: 20% 0 20% 0;
}
.responsive-calendar .day a:hover {
  text-decoration: none;
  -webkit-box-shadow: inset 0px 0px 0px 1px #ffffff;
  box-shadow: inset 0px 0px 0px 1px #ffffff;
}
.responsive-calendar .day.active a {
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
}
.responsive-calendar .day.active a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.responsive-calendar .day.not-current a {
  opacity: 0.4;
  filter: alpha(opacity=40);
}
.responsive-calendar .day.sat,
.responsive-calendar .day.sun {
  font-weight: bold;
}
.responsive-calendar .day .badge {
  position: absolute;
  top: 1px;
  right: 1px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 3px 3px;
  z-index: 1;
}
@keyframes gallery-humbnail {
  0% {
    box-shadow: 0 0 0 0 #3498db;
  }
  50% {
    box-shadow: 0 0 0 10px #3498db;
  }
  100% {
    box-shadow: 0 0 0 3px #3498db;
  }
}
@-webkit-keyframes gallery-humbnail /* Safari and Chrome */ {
  0% {
    box-shadow: 0 0 0 3px #3498db;
  }
  50% {
    box-shadow: 0 0 0 10px #3498db;
  }
  100% {
    box-shadow: 0 0 0 3px #3498db;
  }
}
@keyframes info-humbnail {
  0% {
    box-shadow: 0 0 0 0 #3498db;
  }
  50% {
    box-shadow: 0 0 0 6px #3498db;
  }
  100% {
    box-shadow: 0 0 0 3px #3498db;
  }
}
@-webkit-keyframes info-humbnail /* Safari and Chrome */ {
  0% {
    box-shadow: 0 0 0 3px #3498db;
  }
  50% {
    box-shadow: 0 0 0 6px #3498db;
  }
  100% {
    box-shadow: 0 0 0 3px #3498db;
  }
}
body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
}
.boxed {
  padding-left: 29px;
  padding-right: 29px;
  background-color: #fff;
}
.boxed.shadowed {
  border-left: 1px transparent solid;
  border-right: 1px transparent solid;
  border-top: 1px transparent solid;
  -webkit-box-shadow: 0px 0px 4px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 0px 4px rgba(50, 50, 50, 0.75);
}
.boxed.bordered {
  padding-left: 30px;
  padding-right: 30px;
  border-left: 1px #ccc solid;
  border-right: 1px #ccc solid;
  border-top: 1px #ccc solid;
}
.boxed section[class*="background-"],
.boxed section.image-bg {
  margin-left: -30px;
  margin-right: -30px;
  padding-left: 30px;
  padding-right: 30px;
}
a,
.btn-link {
  color: #1d6fa5;
}
a:hover,
.btn-link:hover {
  color: #1d6fa5;
}
a:focus,
.btn-link:focus {
  text-decoration: none;
}
.btn {
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
.btn-lead {
  background-color: #3498db;
  color: #fff;
  border: 1px #258cd1 solid;
}
.btn-lead:hover {
  background-color: #217dbb;
  color: #fff;
  border: 1px #1d6fa5 solid;
}
.btn-lead.darken {
  background-color: #217dbb;
  border: 1px #1d6fa5 solid;
}
.btn-lead.darken:hover {
  background-color: #196090;
  border: 1px #16527a solid;
}
.btn-lead.lighten {
  background-color: #5faee3;
  border: 1px #75b9e7 solid;
}
.btn-lead.lighten:hover {
  background-color: #3498db;
  border: 1px #258cd1 solid;
}
section,
footer {
  position: relative;
  padding: 40px 0 10px 0;
  background: #fff;
}
section.border-bottom,
footer.border-bottom {
  border-bottom: 1px #555555 solid;
}
section.border-bottom:before,
footer.border-bottom:before {
  content: "";
  display: block;
  position: absolute;
  bottom: -21px;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -21px;
  border-top: 21px #555555 solid;
  border-left: 21px transparent solid;
  border-right: 21px transparent solid;
  z-index: 1;
}
section.border-bottom:after,
footer.border-bottom:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -20px;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -20px;
  border-top: 20px white solid;
  border-left: 20px transparent solid;
  border-right: 20px transparent solid;
  z-index: 1;
}
section .fa.fa-hero,
footer .fa.fa-hero {
  display: block;
  font-size: 120px;
  margin-bottom: 30px;
}
section.border,
footer.border {
  border-top: 1px #ccc solid;
  border-bottom: 1px #ccc solid;
}
section.border-top,
footer.border-top {
  border-top: 1px #ccc solid;
}
section.border-bottom,
footer.border-bottom {
  border-bottom: 1px #ccc solid;
}
section h1,
footer h1,
section h2,
footer h2 {
  border-bottom: 1px rgba(52, 152, 219, 0.3) solid;
}
section h1.no-border,
footer h1.no-border,
section h2.no-border,
footer h2.no-border {
  border: 0;
}
section h1.large,
footer h1.large,
section h2.large,
footer h2.large {
  font-weight: 100;
  font-size: 64px;
  border: 0;
}
section h1.x-large,
footer h1.x-large,
section h2.x-large,
footer h2.x-large {
  font-weight: 100;
  font-size: 84px;
  border: 0;
}
section h1 span,
footer h1 span,
section h2 span,
footer h2 span {
  display: inline-block;
  border-bottom: 2px #3498db solid;
  margin-bottom: -2px;
}
section h1 a,
footer h1 a,
section h2 a,
footer h2 a {
  display: inline-block;
  margin-bottom: -2px;
}
section h1 a:hover,
footer h1 a:hover,
section h2 a:hover,
footer h2 a:hover {
  border-bottom: 2px #3498db solid;
  text-decoration: none;
}
section h1,
footer h1 {
  margin: 0 0 25px 0;
}
[class*="col-"] {
  margin-bottom: 30px;
}
form [class*="col-"],
footer [class*="col-"] {
  margin-bottom: 0;
}
h1,
h2,
h3,
h4 {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
h1.text-left,
h2.text-left,
h3.text-left,
h4.text-left {
  text-align: left;
}
h1.text-center,
h2.text-center,
h3.text-center,
h4.text-center {
  display: block;
  text-align: center;
  border-bottom: 0;
}
h1.text-right,
h2.text-right,
h3.text-right,
h4.text-right {
  text-align: right;
}
.lead {
  font-size: 18px;
  font-weight: 300;
}
.pagination li a {
  border: 0;
  background-color: #ecf0f1;
}
.pagination li a:hover {
  background-color: #bdc3c7;
  color: #fff;
}
.pagination li a:hover a,
.pagination li a:hover .btn-link {
  color: #cce5f6;
}
.pagination li a:hover a:hover,
.pagination li a:hover .btn-link:hover {
  color: #cce5f6;
}
.pagination li a:hover a.btn {
  color: #fff;
}
.pagination li a:hover a.btn.btn-default {
  color: #333333;
}
.pagination li.active a {
  background-color: #3498db;
}
.pagination li.disabled a {
  background-color: #ecf0f1;
}
.pagination li.disabled a:hover {
  background-color: #ecf0f1;
}
.image-bg {
  padding: 60px 0 30px 0;
  min-height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}
.reduce-top-margin {
  margin-top: -30px;
}
.reduce-bottom-margin {
  margin-bottom: -40px;
}
.list-group {
  border-radius: 4px;
  color: #fff;
}
.list-group .list-group-item {
  background-color: transparent;
  border: 0;
  color: inherit;
  -webkit-transition: padding-left 0.5s;
  transition: padding-left 0.5s;
}
.list-group .list-group-item h1,
.list-group .list-group-item h2,
.list-group .list-group-item h3,
.list-group .list-group-item h4,
.list-group .list-group-item h5 {
  margin: 0;
}
.list-group .list-group-item.active {
  background-color: rgba(255, 255, 255, 0.2);
  border-top: 1px #fff solid;
  border-bottom: 1px #fff solid;
}
.list-group a.list-group-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: inherit;
  padding-left: 25px;
}
.list-group.bright .list-group-item.active {
  background-color: #3498db;
  color: #fff;
  border: 0;
}
.list-group.bright .list-group-item.active:hover {
  background-color: #3498db;
  color: #fff;
}
.list-group.bright a.list-group-item:hover {
  background-color: rgba(0, 0, 0, 0.05);
  color: #333333;
}
.navbar {
  -webkit-box-shadow: 0px 0px 4px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 0px 4px rgba(50, 50, 50, 0.75);
  margin: 0;
  border: 0;
  background-color: inherit;
}
.navbar .nav.navbar-nav > li > a {
  color: inherit;
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
  -webkit-transition: padding .5s;
  transition: padding .5s;
  font-weight: 300;
  font-size: 16px;
  /*&:after {
					content: "";
					display: block;
					position: absolute;
					bottom: -6px;
					left: 0;
					width: 0%;
					height: 6px;
					background-color: #fff;
					.border-bottom-radius(@border-radius-base);

					.transition(width .5s);
				}*/
}
.navbar .nav.navbar-nav > li > a:focus {
  background: transparent;
}
.navbar .nav.navbar-nav > li > a .fa {
  color: #3498db;
}
.navbar .nav.navbar-nav > li > a .caret {
  border-bottom-color: #3498db;
  border-top-color: #3498db;
}
.navbar .nav.navbar-nav > li > a:hover {
  padding-top: 40px;
  padding-bottom: 20px;
  background: rgba(0, 0, 0, 0.05) /*&:after {
						width: 100%;
						background-color: darken(@leadColor, 20%);
					}*/;
}
.navbar .nav.navbar-nav > li.active > a {
  background: #3498db;
  color: #fff;
  /*&:after {
						content: "";
						display: block;
						position: absolute;
						bottom: -6px;
						left: 0;
						width: 100%;
						height: 6px;
						background-color: darken(@leadColor, 10%);
						.border-bottom-radius(@border-radius-base);

						.transition(width .5s);
					}*/
  /*&:after {
						width: 100%;
						background-color: darken(@leadColor, 10%);
					}*/
}
.navbar .nav.navbar-nav > li.active > a .fa {
  color: #8bc4ea;
}
.navbar .nav.navbar-nav > li.active > a .caret {
  border-bottom-color: #fff;
  border-top-color: #fff;
}
.navbar .nav.navbar-nav > li.open > a {
  padding-top: 40px;
  padding-bottom: 20px;
  background-color: #196090;
  color: #fff;
}
.navbar .nav.navbar-nav > li.open > a .fa {
  color: #8bc4ea;
}
.navbar .nav.navbar-nav > li.open > a .caret {
  border-bottom-color: #fff;
  border-top-color: #fff;
}
.navbar .nav.navbar-nav > li.open .dropdown-menu {
  -webkit-transform: scale(1,1);
  -ms-transform: scale(1,1);
  transform: scale(1,1);
  visibility: visible;
}
.navbar .nav.navbar-nav > li .dropdown-menu {
  display: block;
  visibility: hidden;
  border: 0;
  background-color: #196090;
  color: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: scale(1,0);
  -ms-transform: scale(1,0);
  transform: scale(1,0);
}
.navbar .nav.navbar-nav > li .dropdown-menu li a {
  color: #fff;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
.navbar .nav.navbar-nav > li .dropdown-menu li a:hover {
  background-color: #3498db;
}
.navbar .nav.navbar-nav > li .dropdown-menu li form {
  padding: 10px 20px;
  width: 300px;
}
.navbar .nav.navbar-nav > li .dropdown-menu li.active a {
  background-color: #217dbb;
}
.navbar .nav.navbar-nav > li .dropdown-menu .divider {
  background-color: #16527a;
}
.navbar .navbar-brand {
  padding-top: 30px;
  padding-bottom: 30px;
  text-transform: uppercase;
  -webkit-transition: padding 0.5s;
  transition: padding 0.5s;
  font-weight: 400;
  color: inherit;
  white-space: nowrap;
}
.navbar .navbar-brand img {
  display: inline-block;
  height: 40px;
  margin: -10px 10px -10px 0;
  border: 0;
  padding: 0;
  vertical-align: top;
}
.navbar.scroll .nav.navbar-nav > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
}
.navbar.scroll .nav.navbar-nav > li > a:hover {
  padding-top: 15px;
  padding-bottom: 15px;
}
.navbar.scroll .navbar-brand {
  padding-top: 15px;
  padding-bottom: 15px;
}
.navbar.scroll .navbar-brand img {
  height: 40px;
  margin: -10px 10px -10px 0;
  border: 0;
  padding: 0;
  vertical-align: top;
}
.breadcrumbs-container {
  margin-top: 80px;
}
.breadcrumbs-container .breadcrumb {
  border-radius: 0;
  background: transparent;
  margin-bottom: 0;
}
.breadcrumbs-container .breadcrumb li a {
  display: inline-block;
  padding: 0 4px 0 4px;
  border-radius: 3px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.breadcrumbs-container .breadcrumb li a:hover {
  text-decoration: none;
  background-color: #3498db;
  color: #fff;
}
.news {
  margin: 30px 0;
}
.news a.news-link {
  display: block;
  color: #fff;
  margin-bottom: 20px;
}
.news a.news-link:hover {
  text-decoration: none;
  color: inherit;
}
.news a.news-link:hover .media {
  background-color: #3498db;
  color: #fff;
}
.news .media {
  border-width: 0;
  border-style: solid;
  border-radius: 4px;
  position: relative;
  overflow: visible;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.news .media .border-white {
  border-color: #fff;
}
.news .media .border-black {
  border-color: #000;
}
.news .media .pull-left,
.news .media .pull-right {
  width: 240px;
  margin: 0;
}
.news .media .pull-left .media-object,
.news .media .pull-right .media-object {
  position: relative;
  max-width: 100%;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.news .media .media-body {
  padding: 20px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  font-weight: 300;
}
.news .media .media-body p {
  margin-bottom: 0;
}
.info-row {
  font-size: 0;
}
.info-row .content {
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
}
.info-row .info {
  width: 80%;
}
.info-row .info .info-head {
  margin: 0 0 10px 0;
}
.info-row .link {
  width: 20%;
}
.info-thumbnail {
  position: relative;
  padding: 0 0 1px 0;
  border: 0;
  color: inherit;
  margin-bottom: 0;
  background-color: transparent;
}
.info-thumbnail > div:first-child,
.info-thumbnail > img:first-child {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.info-thumbnail > div:last-child,
.info-thumbnail > img:last-child {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.info-thumbnail .round {
  border-radius: 4px;
}
.info-thumbnail.padding1 {
  padding: 1px;
}
.info-thumbnail .service {
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  color: #fff;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.info-thumbnail .service:before {
  content: "";
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
}
.info-thumbnail .service .service-name {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  -webkit-transform: scale(0.5, 0.5);
  -ms-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5);
  -webkit-transition: -webkit-transform 0.8s;
  -moz-transition: -moz-transform 0.8s;
  -o-transition: -o-transform 0.8s;
  transition: transform 0.8s;
  width: 90%;
}
.info-thumbnail .service .service-name .fa {
  font-size: 22px;
}
.info-thumbnail .service .service-name h1,
.info-thumbnail .service .service-name h2,
.info-thumbnail .service .service-name h3,
.info-thumbnail .service .service-name h4,
.info-thumbnail .service .service-name h5 {
  margin-top: 0;
}
.info-thumbnail .service .service-name .btn-service {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}
.info-thumbnail .service .service-name .btn-service:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.info-thumbnail.popular {
  margin-top: -15px;
}
.info-thumbnail.popular .caption {
  padding-bottom: 35px;
}
.info-thumbnail.popular .caption .description {
  margin-bottom: 25px;
}
.info-thumbnail.with-icon {
  margin-top: 45px;
}
.info-thumbnail .special {
  width: 100%;
  text-align: center;
}
.info-thumbnail .special h1,
.info-thumbnail .special h2,
.info-thumbnail .special h3,
.info-thumbnail .special h4,
.info-thumbnail .special h5 {
  padding: 5px 20px 5px 20px;
  margin: 0;
}
.info-thumbnail .pricing-head {
  width: 100%;
  height: 100px;
}
.info-thumbnail .pricing-head.bordered {
  padding: 1px 1px 0 1px;
}
.info-thumbnail .pricing-head.bordered .pricing-head-body {
  height: 99px;
}
.info-thumbnail .pricing-head .pricing-head-body {
  width: 100%;
  height: 100px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  text-align: right;
}
.info-thumbnail .pricing-head .pricing-head-body.no-border-radius {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.info-thumbnail .pricing-head .pricing-head-body:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
  /* Adjusts for spacing */
}
.info-thumbnail .pricing-head .pricing-head-body .price-wrapper {
  display: inline-block;
  vertical-align: middle;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  padding-right: 19px;
  text-align: center;
}
.info-thumbnail .pricing-head .pricing-head-body .price-wrapper .price {
  font-size: 60px;
  line-height: 60px;
}
.info-thumbnail .pricing-head .pricing-head-body .price-wrapper .per {
  font-size: 14px;
  line-height: 20px;
}
.info-thumbnail .icon {
  position: absolute;
  top: -40px;
  left: 20px;
}
.info-thumbnail .icon .fa-stack {
  font-size: 50px;
}
.info-thumbnail .caption {
  color: inherit;
  padding: 20px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.info-thumbnail .caption.bordered {
  margin: 0 1px 0 1px;
}
.info-thumbnail .caption [class*="fa fa-"] {
  display: inline-block;
  width: 20px;
  font-size: 18px;
  vertical-align: middle;
}
.info-thumbnail .caption h3 {
  margin-top: 0;
}
.info-thumbnail .caption h3 [class*="fa fa-"] {
  margin-left: -8px;
  margin-right: 8px;
  font-size: 1.5em;
  width: auto;
  vertical-align: baseline;
}
.info-thumbnail .caption .buttons {
  margin-top: 10px;
  margin-bottom: 0;
  text-align: right;
}
.info-thumbnail .caption .news {
  margin: 0 0 10px 0;
  border-radius: 4px;
}
.info-thumbnail .caption .news .pull-left,
.info-thumbnail .caption .news .pull-right {
  font-size: 30px;
  text-align: right;
  line-height: 20px;
}
.info-thumbnail .caption .news .pull-left small,
.info-thumbnail .caption .news .pull-right small {
  font-size: 14px;
}
.info-thumbnail .caption .news .media-body .media-heading {
  font-weight: 400;
}
.info-thumbnail .caption .news .media-body p {
  margin: 0;
}
.info-thumbnail .caption .news-link {
  color: inherit;
  text-decoration: none;
}
.info-thumbnail .caption .news-link .news {
  padding: 5px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.info-thumbnail .caption .news-link:hover .news {
  background-color: #3498db;
  color: #fff;
}
.info-thumbnail .caption .news-link:hover .news a,
.info-thumbnail .caption .news-link:hover .news .btn-link {
  color: #cce5f6;
}
.info-thumbnail .caption .news-link:hover .news a:hover,
.info-thumbnail .caption .news-link:hover .news .btn-link:hover {
  color: #cce5f6;
}
.info-thumbnail .caption .news-link:hover .news a.btn {
  color: #fff;
}
.info-thumbnail .caption .news-link:hover .news a.btn.btn-default {
  color: #333333;
}
.info-thumbnail .caption .news-link:hover .news .pull-right,
.info-thumbnail .caption .news-link:hover .news .pull-left {
  color: #b6daf2;
}
.info-thumbnail-link {
  color: inherit;
}
.info-thumbnail-link:hover {
  color: inherit;
  text-decoration: none;
}
.info-thumbnail-link:hover .info-thumbnail {
  animation: info-humbnail 0.4s forwards;
  -webkit-animation: info-humbnail 0.4s forwards;
  /* Safari and Chrome */
}
.info-thumbnail-link:hover .info-thumbnail .service {
  opacity: 1;
  filter: alpha(opacity=100);
}
.info-thumbnail-link:hover .info-thumbnail .service .service-name {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
}
.filters {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}
.filters .filter {
  display: inline-block;
}
.filters .filter.active a {
  border: 1px #3498db solid;
}
.filters .filter a {
  display: block;
  padding: 3px 5px;
  border: 1px transparent solid;
  color: inherit;
  cursor: pointer;
  border-radius: 3px;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.filters .filter a:hover {
  text-decoration: none;
  background-color: #3498db;
  color: #fff;
}
.mix {
  display: none;
  opacity: 0;
}
.gallery-thumbnail {
  padding: 0;
  border: 0;
  background: transparent;
}
.gallery-thumbnail img {
  -webkit-box-shadow: 0 0 0 3px #3498db;
  box-shadow: 0 0 0 3px #3498db;
  -webkit-transition: -webkit-transform 1s, box-shadow .5s;
  -moz-transition: -moz-transform 1s, box-shadow .5s;
  -o-transition: -o-transform 1s, box-shadow .5s;
  transition: transform 1s, box-shadow .5s;
}
.gallery-thumbnail:hover img {
  animation: gallery-humbnail 0.6s forwards;
  -webkit-animation: gallery-humbnail 0.6s forwards;
  /* Safari and Chrome */
  -webkit-box-shadow: 0 0 0 10px #3498db;
  box-shadow: 0 0 0 10px #3498db;
  -webkit-transform: scale(1.07);
  -ms-transform: scale(1.07);
  transform: scale(1.07);
}
.faq .panel {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.faq .panel .panel-heading {
  background-color: #3498db;
}
.faq .panel .panel-heading .panel-title a {
  color: #fff;
  padding-left: 0;
  -webkit-transition: padding-left 0.5s;
  transition: padding-left 0.5s;
}
.faq .panel .panel-heading .panel-title a a,
.faq .panel .panel-heading .panel-title a .btn-link {
  color: #cce5f6;
}
.faq .panel .panel-heading .panel-title a a:hover,
.faq .panel .panel-heading .panel-title a .btn-link:hover {
  color: #cce5f6;
}
.faq .panel .panel-heading .panel-title a a.btn {
  color: #fff;
}
.faq .panel .panel-heading .panel-title a a.btn.btn-default {
  color: #333333;
}
.faq .panel .panel-heading .panel-title a:hover {
  text-decoration: none;
  padding-left: 10px;
}
.faq .panel .panel-collapse .panel-body {
  border: 0;
}
.blog-entry {
  margin-top: 0;
  margin-bottom: 30px;
}
.blog-entry img.media-object {
  border-radius: 4px;
}
.blog-entry .blog-entry-content {
  border-left: 5px #3498db solid;
  padding-left: 10px;
}
.blog-entry .blog-entry-content.no-border {
  border: 0;
  padding-left: 0;
}
.blog-entry .blog-entry-content h1,
.blog-entry .blog-entry-content h2 {
  margin-top: 0;
  margin-bottom: 5px;
}
.blog-entry .blog-entry-content h3,
.blog-entry .blog-entry-content h4,
.blog-entry .blog-entry-content h5 {
  margin-top: 0;
  margin-bottom: 0;
}
.blog-entry .blog-entry-content .category {
  text-transform: uppercase;
}
.blog-entry .blog-entry-content .date {
  margin-bottom: 10px;
}
.blog-entry .blog-entry-content .blog-entry {
  margin-top: 30px;
  margin-bottom: 0;
}
li.blog-entry .blog-entry:last-child {
  margin-bottom: 0;
}
.side-list {
  list-style-type: none;
  padding: 0;
}
.side-list li:before {
  content: "\f0da";
  font-family: FontAwesome;
  margin-left: 5px;
  margin-right: 5px;
}
.pricing-list {
  list-style-type: none;
  padding: 0;
}
.pricing-list li:before {
  content: "\f00c";
  font-family: FontAwesome;
  margin-left: 5px;
  margin-right: 5px;
  color: #3498db;
}
.side-gallery .info-thumbnail {
  margin-bottom: 30px;
}
footer h1,
footer h2,
footer h3 {
  margin-top: 0;
  border-bottom: 1px #3498db solid;
  padding-bottom: 3px;
}
footer .nav-footer {
  list-style: none;
  padding: 0;
}
footer .testimonial {
  font-style: italic;
}
footer .social {
  font-size: 22px;
  text-align: right;
}
footer .social a:hover {
  text-decoration: none;
  text-shadow: 0 0 5px #fff;
}
footer .social a [class*="icon"] {
  margin-left: 5px;
  margin-right: 5px;
}
footer .author {
  text-align: right;
  font-size: 12px;
  color: #3498db;
  margin-top: -10px;
}
footer .author:before {
  content: "@";
}
footer hr {
  border-top: 0;
  border-bottom: 1px #3498db solid;
  margin-top: 10px;
  margin-bottom: 10px;
}
.content img {
  display: block;
  max-width: 100%;
  margin: 10px 0 10px 0;
  border-radius: 4px;
}
.content img.pull-left {
  display: inline;
  margin: 10px 10px 10px 0;
}
.content img.pull-right {
  display: inline;
  margin: 10px 0 10px 10px;
}
.content p:last-child {
  margin-bottom: 0;
}
.http-error {
  font-size: 26px;
}
.http-error .http-error-number {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 150px;
  font-weight: bold;
}
.http-error .icon-image {
  font-size: 150px;
}
.background-white {
  background-color: #fff;
}
.background-black {
  background-color: #000;
}
.background-gray-light {
  background-color: #ddd;
}
.background-gray-dark {
  background-color: #333;
}
.background-lead {
  background-color: #3498db;
}
.background-lead-light {
  background-color: #5faee3;
}
.background-lead-lighter {
  background-color: #b6daf2;
}
.background-lead-dark {
  background-color: #217dbb;
}
.background-lead-darker {
  background-color: #124364;
}
.background-turquoise {
  background-color: #1abc9c;
}
.background-green-sea {
  background-color: #16a085;
}
.background-emerald {
  background-color: #2ecc71;
}
.background-nephritis {
  background-color: #27ae60;
}
.background-peter-river {
  background-color: #3498db;
}
.background-belize-hole {
  background-color: #2980b9;
}
.background-amethyst {
  background-color: #9b59b6;
}
.background-wisteria {
  background-color: #8e44ad;
}
.background-wet-asphalt {
  background-color: #34495e;
}
.background-midnight-blue {
  background-color: #2c3e50;
}
.background-sun-flower {
  background-color: #f1c40f;
}
.background-orange {
  background-color: #f39c12;
}
.background-carrot {
  background-color: #e67e22;
}
.background-pumpkin {
  background-color: #d35400;
}
.background-alizarin {
  background-color: #e74c3c;
}
.background-pomegranate {
  background-color: #c0392b;
}
.background-clouds {
  background-color: #ecf0f1;
}
.background-silver {
  background-color: #bdc3c7;
}
.background-concrete {
  background-color: #95a5a6;
}
.background-asbestos {
  background-color: #7f8c8d;
}
.color-white {
  color: #fff;
}
.color-white a,
.color-white .btn-link {
  color: #cce5f6;
}
.color-white a:hover,
.color-white .btn-link:hover {
  color: #cce5f6;
}
.color-white a.btn {
  color: #fff;
}
.color-white a.btn.btn-default {
  color: #333333;
}
.color-text {
  color: #333333;
}
.color-black {
  color: #000;
}
.color-lead {
  color: #3498db;
}
.color-lead-light {
  color: #5faee3;
}
.color-lead-lighter {
  color: #b6daf2;
}
.color-lead-dark {
  color: #217dbb;
}
.color-lead-darker {
  color: #124364;
}
.color-turquoise {
  color: #1abc9c;
}
.color-green-sea {
  color: #16a085;
}
.color-emerald {
  color: #2ecc71;
}
.color-nephritis {
  color: #27ae60;
}
.color-peter-river {
  color: #3498db;
}
.color-belize-hole {
  color: #2980b9;
}
.color-amethyst {
  color: #9b59b6;
}
.color-wisteria {
  color: #8e44ad;
}
.color-wet-asphalt {
  color: #34495e;
}
.color-midnight-blue {
  color: #2c3e50;
}
.color-sun-flower {
  color: #f1c40f;
}
.color-orange {
  color: #f39c12;
}
.color-carrot {
  color: #e67e22;
}
.color-pumpkin {
  color: #d35400;
}
.color-alizarin {
  color: #e74c3c;
}
.color-pomegranate {
  color: #c0392b;
}
.color-clouds {
  color: #ecf0f1;
}
.color-silver {
  color: #bdc3c7;
}
.color-concrete {
  color: #95a5a6;
}
.color-asbestos {
  color: #7f8c8d;
}
@media (max-width: 767px) {
  section h1.x-large,
  footer h1.x-large {
    font-size: 60px;
  }
  .navbar .nav.navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .navbar .nav.navbar-nav > li > a:hover {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .navbar .nav.navbar-nav > li.active > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .navbar .nav.navbar-nav > li.dropdown.open > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .navbar .nav.navbar-nav > li .dropdown-menu li.active a {
    background-color: #3498db;
    color: #fff;
  }
  .navbar .navbar-brand {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .navbar .navbar-brand img {
    height: 40px;
    margin: -10px 10px -10px 0;
    border: 0;
    padding: 0;
    vertical-align: top;
  }
  .news .media .pull-left,
  .news .media .pull-right {
    float: none!important;
    width: 100%;
  }
  .news .media .pull-left .media-object,
  .news .media .pull-right .media-object {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .breadcrumbs-container,
  .responsive-slider-parallax {
    margin-top: 50px;
  }
  .info-row .info {
    width: 100%;
  }
  .info-row .link {
    margin-top: 10px;
    width: 100%;
  }
  .blog-entry img.media-object {
    max-width: 50px;
  }
  .responsive-slider-parallax {
    padding: 0;
  }
}
